/* body */
body {
    margin: 0;
    padding: 0;
    background-color: #2a3742;
    color: white;
}

/* navbar*/
.navbar {
    background-color: #0a0e14;
    padding: 15px 20px;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
    letter-spacing: 1px;
    text-decoration: none;

}

/* Section title */
.section-title {
    color: #ff0000;
}

.card {
    background-color: #1a2029;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 1s;
    height: 100%;
    color: white;
    transform: translateY(0px);
    box-shadow: 0 10px 10px rgb(0, 55, 253);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgb(253, 0, 0);
}